<style>
#d1
{
    width: 100%;
    height: 1.1cm;
    background-color: rgb(246, 238, 238);
    /* position:fixed; */
}
#n1
{
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
 color:orangered; 
 font-weight:100;
 padding:10px 5px 10px 6px;
 display: inline;
 /* font-size:x-large; */
}
#bt1
{
   height: 1.1cm;
   width: 44.2%;
   background-color:  rgb(246, 238, 238);
   margin-left: 14.9cm;
   margin-top: -1cm;
}
.bt
{
    text-decoration: none;
    float: left;
    padding: 12px;
    color:black;
}
.bt:hover 
{
    height: fit-content;
    width: fit-content;
    background-color:rgb(235, 99, 49);
}
#l1,#l2,#l3,#l4,#l5
{
    position: relative;
    left: 0.5cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#blck
{
    background-color: black;
    width: 100%;
    height: 7.1cm;
    margin-top: -21px;
}
#sen
{
    background-color:black;
    height: 2cm;
    width: 15cm;
    position: relative;
    left: 6.9cm;
    top: 0.7cm;
}
#acn1,#acn2
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#acn1,#acn2
{
    position: relative;
    color: white;
    font-weight: lighter;
}
#acn1
{
   bottom: -80px;
}
#acn2
{
    bottom: -60px;
}
#gry
{
    position: relative;
    top: -20px;
    width: 100%;
    height: 9cm;
    background-color: rgb(246, 238, 238);
}
#name
{
   position: relative;
   top: 0.6cm;
   left: 8cm;
}
#kr
{
    font-weight:400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#para
{
    height: 5cm;
    width: 18cm;
    background-color:rgb(246, 238, 238);
    float: left;
    position: relative;
    left: 8cm;
    top: 0.2cm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
}
#im
{
  height: 8cm;
  width: 160px;
  position: relative;
  right: 20cm;
  top: -0.7cm;
  border-radius: 90px;
}
 #smb
{
    position: relative;
    top: -1.9cm;
    right: 10cm;
    height: 1cm;
    border-radius: 5px;
    background-color: orangered;
    border-color: orangered;
    color: white;
}
#smb:hover
{
    background-color:rgb(239, 141, 103);    
}
#port
{
    height:9.5cm;
    width: 100%;
    background-color: black;
    position: relative;
    top: -40px;
}
#pt
{
   color: white;
   position: relative;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: lighter;
   text-align: center;
   top: 0.5cm;
}
#pr
{
    position: relative;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    top: -20px;
}
#lin
{
    color: white;
    position: relative;
    left: 10cm;
    top: -40px;
}
.g1
{
    position: relative;
    height: 4cm;
    width: 5.5cm;
    background-color: white;
    float: left;
    border-radius: 10px;
}
#f1
{
   left: 1.2cm;
}
#f2
{
   left: 5cm;
}
#f3
{
  left: 8.8cm;
}
.rnd
{
    height: 0.9cm;
    width: 1cm;
    background-color: orangered;
    color: white;
    font-weight: bolder;
    position:relative;
    left: 2.2cm;
    border-radius: 20px;
}
#nd1,#nd2,#nd3
{
   position: relative;
   left: 0.2cm;
   right: 0.2cm;
   top:0.2cm;
   bottom:0.2cm
}
#j1,#j2,#j3
{
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
}
#j1
{
    top: -10px;
    left:1cm;
}
#j2
{
    top: -10px;
    left: 1.6cm;
}
#j3
{
    top: -10px;
    left: 0.55cm;
}
.hnd
{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(79, 76, 76);
    position: relative;
    top: -12px;
}
#lq1,#lq2,#lq3
{
    font-family:Arial, Helvetica, sans-serif;
}
.g1
{
   position: relative;
}
#lst
{
    height: 10cm;
    width: 100%;
    background-color:rgb(246, 238, 238);
    position:relative;
    top: -60px;
}
#sk
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}
#tcs,#lng
{
    position: relative;
    top: -14px;
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: 520;
}
#tcs
{
    float:left;
    margin-left: 4.2cm;
}
#lng
{
    float: right;
    margin-right: 5.4cm;
    position: relative;
    top: -8.8cm;
}
.skill,.lang
{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(79, 76, 76) ;
    position: relative;
}
#a1
{
   top: 0.8cm; 
   left: -250px;
}
#a2
{
    top: 0.2cm; 
    left: 2.18cm;
}
#a3
{
    left:2.18cm;
    top:-14px;
}
#a4
{
    left:2.18cm;
    top:-32px;
}
#a5
{
    left:2.18cm;
    top:-48px;
}
#a11
{
    left:15.3cm;
    top:-311px;
}
#a12
{
    left:15.3cm;
    top:-333px;
}
#a13
{
    left:15.3cm;
    top:-352px;
}
#ln1,#ln2,#ln3,#ln4,#ln5,#ln6,#ln7,#ln8
{
    position:relative;
    height: 0.2cm;
    width: 5cm;
    background-color: orangered;
}
#ln1
{
    top: 0.4cm;
    left: 2.2cm;
}
#ln2
{
    top: -0.14cm;
    left: 2.2cm;
}
#ln3
{
    top: -25px;
    left: 2.24cm;
}
#ln4
{
    top: -42px;
    left: 2.24cm;
}
#ln5
{
    top: -56px;
    left: 2.24cm;
}
#ln6
{
    top: -323px;
    left: 15.3cm;
}
#ln7
{
    width: 6cm;
    top: -345px;
    left: 15.3cm;
}
#ln8
{
    width: 4cm;
    top: -363px;
    left: 15.3cm; 
}
#inln1,#inln2,#inln3,#inln4,#inln5,#inln6,#inln7,#inln8
{
    background-color:rgb(101, 97, 97); 
    position: relative;
}
#inln1
{
    height: 0.2cm;
    width: 3cm;
    left: 5cm;
}
#inln2
{
    height: 0.2cm;
    width: 4cm;
    left:4cm;
}
#inln3
{
    height: 0.2cm;
    width: 3cm;
    left:5cm;
}
#inln4
{
    height: 0.2cm;
    width: 5cm;
    left:3cm;
}
#inln5
{
    height: 0.2cm;
    width: 3cm;
    left:5cm;
}
#inln6
{
    height: 0.2cm;
    width: 3cm;
    left:5cm;
}
#inln7
{
    height: 0.2cm;
    width: 2cm;
    left:6cm; 
}
#inln8
{
    height: 0.2cm;
    width: 4cm;
    left:4cm;  
}
#lst
{
    margin: 0%;
}
